{% extends "ProyectoWebApp/base.html" %}

{% load static %}


{% block content %}

<div class="container">

  <div style="float: right;">
    

    {% include "carro/widget.html" %}
  
    


  </div>


  <div class="row">

  {% for producto in producto %}

    <div class="col-md-4">

    <div class="card" style="width: 100%; background-color: #000000cc; margin-bottom: 15px; margin-top: 15px;">
      <p style="background-color: #400808; color: white; text-align: center;">{{producto.nombre}}</p>
      <img src="{{producto.imagen.url}}" class="card-img-top">
      <div class="card-body text-center">

        <div style="color: white; background-color: #400808;">$ {{producto.precio}}</div>

      </div>
      
      <div class="card-footer text-center">

        <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-dark">Agregar al carro</a>

      </div>


    </div>

    </div>  
  {% endfor %}

</div>
</div>


{% endblock %}