{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
  <div class="row">
    
    <div class="col-sm-4 intro-text left-0 text-center bg-faded p-5 rounded">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading" >
          <span style="text-align: left;"> 
            <img style="width: 250px; height: 250px;" class="img-fluid" src="{% static 'ProyectoWebApp/img/cv5.png' %}" alt="fotocv">
          </span>
          <span class="section-heading-upper">Manuel Bautista</span>
          <span class="section-heading-lower">Python Backend developer</span>
        </h2>
      </div>
    </div>
    <div class="col-sm-8">
      <section class="page-section cta">
        <div class="container">
          <div class="row">
            <div class="col-xl-11 mx-auto">
              <div class="cta-inner text-center rounded">
                <h2 class="section-heading mb-2">
                  <span class="section-heading-lower">SOBRE MI</span>
                </h2>
                <p class="mb-0">Con más de 20 años de experiencia a nuestras espaldas, desde Gaming House tenemos los conocimientos y herramientas necesarios para llevar cualquier producto a la puerta de su casa con puntualidad y profesionalidad.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
  
    </div>
  </div> 
   
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Con más de 20 años de experiencia a nuestras espaldas, desde Gaming House tenemos los conocimientos y herramientas necesarios para llevar cualquier producto a la puerta de su casa con puntualidad y profesionalidad.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}